[Desktop Entry]
Type=Application
Name=Tails Server
Comment=Install and Configure Onion Services
Icon=network-workgroup.svg
Exec=tails-server
Terminal=false
Categories=Network;Tails;
Keywords=Tails;Server;Services;Onion;Network;Tor;Anonymous;File Sharing;Voice Chat;VoIP;Collaborative;

