[Unit]
Description=Start Tails Server services which have autostart enabled
After=tails-server-persistence.service

[Service]
User=amnesia
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/tails-service autostart

[Install]
WantedBy=multi-user.target
